body{
  overflow: hidden; 
}

h1::selection{
   background-color: red;
}
   
.containerrr{
   height: 100vh;
   display:flex;
justify-content:center;
align-items: center;
}

.nextsong{
height: 50px;
width: 100px;
border-radius: 4px;
background-color:rgba(255,0,0,0.5);
margin: 0 0 0 0;
display: none;
transition: all 1s;
animation: anim 1s;
}

@keyframes anim{
   from{
      opacity:0%;
   }
   to{
      opacity: 100%;
   }
}
.containerr{
   background-color: rgb(250, 176, 176);
   background-image: url(bgmusic.png);
   border-radius: 15px;
   border: 0.1px solid yellow;
   
   padding: 20px 30px;
   display:flex;
   justify-content:center;
   align-items: center;
   flex-direction:column;
   margin: 100px 0;
   z-index: 10;
   
   height: 370px;
   width: 300px;
   
   border-left: 4px solid yellow;
   border-right: 4px solid yellow;
   border-bottom: 4px solid yellow;
   border-top: 4px solid yellow;
    
}




.btns{
   box-shadow:  10px 8px 10px #888888;
   border-radius: 6px;
   height:60px;
   width: 170px;
   background-color:rgb(241, 220, 220);
   padding: 10px 10px 10px 10px;
   z-index: 2;
   display: flex;
  
  justify-content: center;
  align-items: center;
   /*position: absolute;*/
}

img{
   border-radius: 50%;
   height: 150px;
   width: 150px;
   
}

.progress_bar{
   height: 30px;
   width: 170px;
border: 1px solid red;
position: relative;
margin-bottom: 10px;
margin-top: 10px;
}
.progresss{
   position: absolute;
  width: 0%;
  height: 100%;
   background-color: #47CF73;
   border-right:2px solid rgba(255, 0, 0, 0.295);
   transition: all 0.5s;
}


.play{
animation: rotatemove 1.5s infinite;
animation-timing-function: linear;
}

@keyframes rotatemove{
   from{transform: rotate(0deg);
   }
   to{
      transform: rotate(360deg);
   }
   
}

 